/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  position: relative;
  background: #f1f1f1;
}

/* common css */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* main css */
.topNavBar {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s;
}
.topNavBar.sticky {
  background: #fff;
  z-index: 2;
  color: #b7b7b7;
  box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.53);
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.topNavBar .logo {
  display: block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial Black";
  padding-top: 4px;
  padding-bottom: 3px;  
  margin-left: 16px;
}
.topNavBar .logo .rs {
  color: #e6686d;
  margin-right: 4px;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
.topNavBar nav {
  padding-top: 7px;
  padding-bottom: 5px;  
}

.topNavBar nav ul {
  float: right;   
}
.topNavBar nav ul li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.topNavBar>nav>ul>li>a {
  display: block;
  color: #B7B7B7;
  font-weight: bold;
  /* border-bottom: 3px solid transparent;  
  border-top: 3px solid transparent;     */
}
/* .topNavBar nav ul li a:hover {
  border-bottom-color: #e6686d;
} */
.topNavBar nav ul li a.cool-link {
  display: block;
  text-decoration: none;
}
.topNavBar nav ul li a.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #e6686d;
  transition: width .3s;
}
.topNavBar nav ul li a.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}


.banner {
  height: 515px;
  background: url(../img/rs-background.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background: rgba(0,0,0,.8 )
}
main .userCard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid #ccc;
  margin-top: -280px;
  background: #fff;
  box-shadow: 6px 15px 63px -10px rgba(0,0,0,0.3);
}
.userCard .picture {
  float: left;
  padding: 50px 0 50px 50px;
  margin-right: 68px;
  margin-bottom: 68px;
}
.userCard .text {
  float: left;
  margin-top: 50px;
  width: 500px;
}
.userCard .text .welcome{
  background: #e6686a;
  color: #fff;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
}
.userCard .text .welcome .triangle{
  position: absolute;
  top: 30px;
  left: 5px;
  width:0px;
  width: 0px;
  border: 7px solid #e6686a;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.userCard .text .name {
  margin-top: 30px;
}
.userCard .text .desc {
  margin-top: 12px;
  margin-bottom: 12px; 
}
.userCard dl dt {
  float: left;
}
.userCard dl dt {
  width: 30%;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}
.userCard dl dd {
  float: left;
  width: 70%;
  margin-top: 20px;  
  color: #dedede;
}
.userCard footer.media {
  background: #e6686a;
  position: absolute;
  top: 447px;
  left: 0;
  width: 938px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;      
}
.userCard footer.media a{
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  transition: box-shadow .3s ;
  
}
.userCard footer.media a:hover{
  background: #cf5d5f;
}

.userCard footer.media .iconfont{
  font-size: 30px;
  color: #fff;  
}

main .downloadResume-wrapper {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 36px;
}
main .downloadResume-wrapper .downloadResume {
  border: 1px solid #cdcfd1;
  display: inline-block;  
  padding: 21px 55px;
  font-size: 14px;
  line-height: 16px;
  color: #3d4451;
  border-radius: 3px;
}
main .downloadResume-wrapper .downloadResume:hover {
  box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.47);
  transition: all 1s;
}
main .self-introduction {
  text-align: center;
  line-height: 36px;
  font-size: 18px;
  font-family: kai;
}
section.profolio,
section.skills {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
section.profolio h2,
section.skills h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 20px;
}
section.skills  ol {
  background: #fff;
  padding: 42px 50px  8px; 
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
section.skills ol li{
  float: left;
  width: 50%;
  padding-right: 40px;
}
section.skills ol li:nth-child(even){
  padding-right: 0px;
}

section.skills  ol li h3{
  color: #3d4451;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 6px;
}

section.skills .progressBar {
  height: 5px;
  background: #fae1e2;
  border-radius: 2px;
  margin-bottom: 40px;
}
section.skills  .progressBar .progress {
  height: 5px;
  background: #e6686d;
  width: 75%;
  border-radius: 2px;  
}
section.profolio .jobs {
  border: 1px solid red;
  height: 600px;
}




