/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  
}

/* common css */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* main css */
.topNavBar {
  margin-top: 18px;
}
.topNavBar>.logo {
  display: block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial Black";
  padding-top: 4px;
  padding-bottom: 3px;  
  margin-left: 16px;
}
.topNavBar>.logo>.rs {
  color: #e6686d;
  margin-right: 4px;
}
.topNavBar>.logo>.card {
  color: #9a9da2;
}
.topNavBar>nav {
  padding-top: 5px;
  padding-bottom: 5px;  
}

.topNavBar>nav>ul {
  float: right;
}
.topNavBar>nav>ul>li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.topNavBar>nav>ul>li>a {
  display: block;
  color: #B7B7B7;
  font-weight: bold;
  border-bottom: 3px solid transparent;  
  border-top: 3px solid transparent;  
}
.topNavBar>nav>ul>li>a:hover {
  border-bottom-color: #e6686d;
}

